/*stile welcome*/
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;

    opacity: 0.8;
}


.hero-section {
    padding-top: 56px;
    /* Height of the navbar */
}

.bg-img {
    filter: brightness(0.8);
    z-index: -1;
    background-image: url('../img/shopping-cart.jpeg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: first baseline;
    justify-content: flex-end;
    text-align: center;
    color: white;
}

.slogan{
    margin-top: 150px;
    padding-right: 100px;
}

.hero-section h1, h2 {
    text-shadow: 2px 2px #333;
    text-align: right;
    
}

.hero-section h1 {
    font-size: 120px;
}

.hero-section h2 {
    font-size: 80px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1f1f1f;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #aaa;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #f1f1f1;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #333;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: #2b2b2b;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    color: #f1f1f1;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: #f1f1f1;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1f1f1f;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #aaa;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #f1f1f1;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #333;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: #2b2b2b;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;

    height: 100%;
    background-color: #2b2b2b;
    color: #f1f1f1;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: #f1f1f1;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: #2d79f3;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.p {
    text-align: center;
    color: #f1f1f1;
    font-size: 14px;
    margin: 5px 0;
}

.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #333;
    background-color: #2b2b2b;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1px solid #2d79f3;
}


/*  Preveniamo un conflitto tra classi di Bootstrap /
  / Gestione auto-completamento input forms */

.form-container input:-webkit-autofill,
.form-container input:-webkit-autofill:hover,
.form-container input:-webkit-autofill:focus,
.form-container input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--bs-dark) inset !important;
    -webkit-text-fill-color: var(--bs-light) !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* HEADER */
.heros-header{
    min-height: 50vh;
}


.form-control::placeholder{ /* schiarisco placeholder*/
    color: rgba(128, 128, 128, 0.6);
}

.form-control:focus {
    border-color: rgba(167, 201, 87, .25);
    box-shadow: 0 0 0 .25rem rgba(167, 201, 87, .25);
}

.input-group-text {
    color: var(--sec);
    background-color: var(--greenLight);
    border: var(--bs-border-width) solid var(--greenLight);
    cursor: pointer;
}

.header-logo{
    width: 100px;
    padding: 10px 10px;
    
}

/* FINE HEADER */

/* SEZIONE CATEGORIE */
.category-card > p{ /* sto selezionando solo i figli diretti e quindi tutti i paragrafi figli diretti di category-card*/
    margin: 0;
}

.category-card{
    transition: all 0.4s;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-card:hover{
    box-shadow: 0px 0px 12px 0px #0000008a; /*all'hover deve comparire il box shadow, lo faccio con Box Shadow Generator*/
}

.category-card:hover > p{ /* sto selezionando solo i figli diretti e quindi tutti i paragrafi figli diretti di category-card*/
    color: var(--greenLight); /* all'hover diventa verde*/
}
/* FINE SEZIONE CATEGORIE */ 

/* CAROSELLO SWIPER */ 
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-description{
    position: absolute;
    top: 4px;
    left: 5px;
}


